<%# from show.html %>

  <table class="table">
    <thead>
      <tr>
        <th>  POST       </th>
        <th colspan="">  </th>
      </tr>
    </thead>

<%# ["ID", "Platform", "Priority", "Category", "Content",  "Status", "Created_at", "Comment", "Reporter", "Url" ,"Summary", "Edit"] %>    
    <tbody>
      <tr>
      	
        <td width="50">  <%= "#{$post_para_display[0]}" %>     </td>
        <td width="80">  <%= "#{$post_para_display[1]}" %>     </td>
        <td width="40">  <%= "#{$post_para_display[2]}" %>     </td>
        <td width="80">  <%= "#{$post_para_display[3]}" %>     </td>
        <td width="400"> <%= "#{$post_para_display[4]}" %>     </td>
        <td width="100"> <%= "#{$post_para_display[5]}" %>     </td>
        <td width="100"> <%= "#{$post_para_display[6]}" %>     </td>

      <% if @group.editable_by?(current_user) %>
        <td width="300"> <%= "#{$post_para_display[7]}" %>     </td>
        <td width="150"> <%= "#{$post_para_display[11]}" %>    </td>
      <% else %>
        <td width="400"> <%= "#{$post_para_display[7]}" %>     </td>
        <td width="100"> <%= "#{$post_para_display[11]}" %>    </td>
      <% end %>      
      </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>  
      <td></td>
      <td></td>
      <td></td>
    </tr> 
    <% @close_item = [] %>     <% @sugg_item = [] %>

    <% c1 = 0 %>       <% c2 = 0 %>
    <% @posts.each do |post| %> 
      <% if post.status == "close" %>
        <% @close_item[c1] = post %>
        <% c1 = c1 + 1 %>
        <% next %>
      <% end %>
      <% if post.status == "suggest" %>
        <% @sugg_item[c2] = post %>
        <% c2 = c2 + 1 %>
        <% next %>
      <% end %>
      <tr>
      <td>
          <%= link_to("#{post.id}",
                group_post_path(post.group, post),
                :class => "btn btn-default btn-xs")%>  </td>
      <td>    <%= post.explorer %> </td>
      <td>    <%= post.priority %> </td>
      <td>    <%= post.category %> </td>
      <td>    <%= post.content  %> </td>
      <td>    <%= post.status   %> </td>
      <td>    
      <%  a = post.created_at.to_s  %>
      <%= a[2..10] %> </td>
      <% if @group.editable_by?(current_user) %>
        <td><%= post.comment %></td>
        <td>
        <%= link_to('Edit', 
                  edit_group_post_path(post.group, post),
                  :class => "btn btn-info btn-xs") %>
        <%= link_to('Delete', 
                  group_post_path(post.group, post),
                  :method => :delete, 
                  data: { confirm: "Are you sure?" },
                  :class => "btn btn-danger btn-xs") %>
        </td>
      <% else %>
        <td><%= post.comment %></td>      
      <% end %> 
    </tr>
    <% end %> 

    <li> close_item 
    <% @close_item.each do |post| %>
      <%= link_to("#{post.id}",
          group_post_path(post.group, post), 
          :class => "btn btn-default btn-xs")%>  <% end %>
    </li>
    <li> suggest_item 
    <% @sugg_item.each do |post| %>
      <%= link_to("#{post.id}",
          group_post_path(post.group, post), 
          :class => "btn btn-default btn-xs")%>  <% end %>
    </li>

    </tbody>
  </table>
