<%# from show.html %>

  <table class="table">
    <thead>
      <tr>
        <th>  test       </th>
        <th colspan="">  </th>
      </tr>
    </thead> 
    <tbody>
      <tr>
      	
        <td width="50">  <%= "#{$post_para_display[0]}" %>     </td>
        <td width="80">  <%= "#{$post_para_display[1]}" %>     </td>
        <td width="40">  <%= "#{$post_para_display[2]}" %>     </td>
        <td width="80">  <%= "#{$post_para_display[3]}" %>     </td>
        <td width="400"> <%= "#{$post_para_display[4]}" %>     </td>
        <td width="100"> <%= "#{$post_para_display[5]}" %>     </td>
        <td width="100"> <%= "#{$post_para_display[6]}" %>     </td>

      <% if @group.editable_by?(current_user) %>
        <td width="300"> <%= "#{$post_para_display[7]}" %>     </td>
        <td width="150"> <%= "#{$post_para_display[11]}" %>    </td>
      <% else %>
        <td width="400"> <%= "#{$post_para_display[7]}" %>     </td>
        <td width="100"> <%= "#{$post_para_display[11]}" %>    </td>
      <% end %>      
      </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>  
      <td></td>
      <td></td>
      <td></td>
    </tr> 

    <% @post_return.each do |post| %> 
      <tr>
      <td>
          <%= link_to("#{post.id}",
                group_post_path(post.group, post),
                :class => "btn btn-default btn-xs")%>  </td>
      <td>    <%= post.explorer %> </td>
      <td>    <%= post.priority %> </td>
      <td>    <%= post.category %> </td>
      <td>    <%= post.content  %> </td>
      <td>    <%= post.status   %> </td>
      <td>    
      <%  a = post.created_at.to_s  %>
      <%= a[2..10] %> </td>
      <% if @group.editable_by?(current_user) %>
        <td><%= post.comment %></td>
        <td>
        <%= link_to('Edit', 
                  edit_group_post_path(post.group, post),
                  :class => "btn btn-info btn-xs") %>
        <%= link_to('Delete', 
                  group_post_path(post.group, post),
                  :method => :delete, 
                  data: { confirm: "Are you sure?" },
                  :class => "btn btn-danger btn-xs") %>
        </td>
      <% else %>
        <td><%= post.comment %></td>      
      <% end %> 
    </tr>
    <% end %> 


    </tbody>
  </table>
