<div class="col-md-12">
  <div class="group">
    <% if @group.editable_by?(current_user) %>
      <%= link_to 'Close item!', { :action => "close" }, :class => "btn btn-warning pull-right" %>
      <%= link_to("Edit Group", edit_group_path(@group) , :class => "btn btn-primary pull-right") %>
      <%= link_to("New Post", new_group_post_path(@group) , :class => "btn btn-warning pull-right")%>
    <% else %>
        <%= link_to 'Close item!', { :action => "close" }, :class => "btn btn-warning pull-right" %>
    <% end %>

    <% if !current_user.nil? %>  
      <% if current_user.is_member_of?(@group) %>
        <% quit_group = "Now at GROUP : " + "#{@group.title}" %>
        <%= link_to("#{quit_group}" , quit_group_path(@group), :method => :post, :class => "btn btn-info") %>
      <% else %>
        <%= link_to("Join Group", join_group_path(@group), :method => :post, :class => "btn btn-info") %>
      <% end %>
    <% end %>
  </div>

  <%= render 'postview' %>

</div>

<p><%= link_to 'Back to GROUP page', :controller => 'groups', :action => 'index' %></p>
<br>

<%= Time.now %>
