
<p>Hola! It's <%= Time.now %></p><p><%= link_to 'Test page!', welcome_say_hello_path %></p>

      <% if !current_user %>
        <%# If need add new user to un comment this line %>
        <%#= link_to("REGIS", new_user_registration_path) %> 
        <li> <%= link_to("LOGIN", new_user_session_path) %> </li>
      <% else %>
        <%= "Welcome" %>

        <li><%= link_to("My Groups" , account_groups_path) %></li>
        <li><%= link_to("My Posts"  , account_posts_path) %></li>
        <li><%= link_to("Area"    , groups_path) %></li>

        <% if current_user.id == 1 %>
          <li>  <%= link_to('User', :controller => 'users', :action => 'index') %> </li>
          <br><%= "NEW AREA" %>
          <li><%= link_to("Scodes"    , scodes_path) %></li>
          <li><%= link_to("People"    , people_path) %></li>
        <% end %>
      <% end %>

<% if false %>
   comment for all
<% end %>
        