<tr>
<td> # </td>
<td> <%= group.description %> </td>

<td> <%= link_to(group.title, group_path(group)) %> </td>
<td> <%= link_to 'show', :controller => 'posts', :action => 'show' %> </td>
<td> <%= link_to("Edit", edit_group_path(group), :class => "btn btn-mini") %>
<%= link_to("Delete", group_path(group), :class => "btn btn-mini", :method => :delete, :confirm => "Are you sure?" ) %>
</td>
</tr>