<h1 class="text-center">NEW POST</h1>

<div class="col-md-4 col-md-offset-4">
  <%= simple_form_for [@group,@post] do |f| %>

    <label> <%= "#{$post_para_display[1]}" %> </label>  
    <%= f.select(:explorer, options_for_select([['Platform', 'Platform'],['Chrome', 'Chrome'], ['Firefox', 'Firefox'],['IE', 'IE'], ['Android', 'Android'], ['iOS', 'iOS'], ['M版', 'M版'],['其他', '其他']], @post.explorer  )) %>         
    <br>  <label> <%= "#{$post_para_display[2]}" %> </label>
    <%= f.select(:priority, options_for_select([[0, 0],[1, 1], [2, 2],[3, 3], [4, 4]], @post.priority)) %> 
  <%#["open","fix","verify","close","suggest"] "#{$post_status[0]}" %>
    <br>  <label> <%= "#{$post_para_display[5]}" %> </label>
    <%= f.select(:status, options_for_select([['status', 'status'],["#{$post_status[0]}", "#{$post_status[0]}"], ["#{$post_status[1]}", "#{$post_status[1]}"],["#{$post_status[2]}", "#{$post_status[2]}"], ["#{$post_status[3]}", "#{$post_status[3]}"], ["#{$post_status[4]}", "#{$post_status[4]}"]], @post.status)) %>

    <br>  <label> <%= "#{$post_para_display[8]}" %> </label>      
    <%= f.select(:reporter, options_for_select([['Reporter', 'Reporter'], ['Sam', 'Sam'],['Jacky', 'Jacky'], ['Alice', 'Alice'],['Jason', 'Jason'], ['Tom', 'Tom']], @post.reporter)) %>    

    <%= f.input :summary,label: "#{$post_para_display[10]}", :input_html  => { :class => "form-control"} %>  
    <%= f.input :content,label: "#{$post_para_display[4]}", :input_html  => { :class => "form-control"} %>
    <%= f.input :url,label: "#{$post_para_display[9]}", :input_html      => { :class => "form-control"} %> 
    <%= f.input :category,label: "#{$post_para_display[3]}", :input_html => { :class => "form-control"} %> 
    <%= f.input :comment,label: "#{$post_para_display[7]}", :input_html  => { :class => "form-control"} %>

    <div class="form-actions">
      <%= f.submit "Submit", :disable_with => 'Submiting...', :class => "btn btn-primary"%> 
    </div>
  <% end %> 
  
</div>