  
<%#table style="border: 5px double rgb(109, 2, 107); height: 100px; background-color: rgb(255, 255, 255); width: 300px;" align="left" cellpadding="5" cellspacing="5" frame="border" rules="all" %>
  <style type="text/css">
    /* Some custom styles to beautify this example */
    .demo-content{
        padding: 15px;
        font-size: 18px;
        min-height: 200px;
        background: #dbdfe5;
        margin-bottom: 10px;
    }
    .demo-content.bg-alt{
        background: #abb1b8;
    }
  </style>

 <% case @post.status %>
  <%  when "open" %>
    <div class="alert alert-danger">
  <%  when "close" %>
    <div class="alert alert-success">
  <%  when "suggest" %>
    <div class="alert alert-warning"> 
  <%  else %>
    <div class="alert alert-info">
  <% end %>

      <strong><%= @post.id %></strong>.  
      <%= "#{$post_para_china[10]}: " %> <label><%= @post.summary %></label>
      <p align="right"><%= link_to 'Edit', :controller => 'posts', :action => 'edit' %> </p>
    </div>

    <div class="row">
      <div class="col-xs-7">
        <div class="demo-content"> 

        <tr>
           <%= "#{$post_para_china[3]}: " %> <td> <%= simple_format(@post.category) %> </b></td>
                      
          <td> <%= "#{$post_para_china[4]}: " %>
          <%= simple_format(@post.content) %></td>

        </tr>
        </div>
<%# $post_para_china = ["ID", "使用平台", "優先性", "分類", "描述", "狀態", "創建日期", "備註", "提報人", "url" ,"概述"] %>

      </div>
      <div class="col-xs-3">
        <div class="demo-content bg-alt">
            <label>
            <%= simple_format("#{$post_para_china[1]}: " + "#{@post.explorer.to_s}") %>
            <%= simple_format("#{$post_para_china[2]}: " + "#{@post.priority.to_s}") %> 
            <%= simple_format("#{$post_para_china[5]}: " + "#{@post.status.to_s}") %>   
            <%= simple_format("#{$post_para_china[8]}: " + "#{@post.reporter.to_s}") %>
            <%= simple_format("#{$post_para_china[6]}: " + "#{@post.created_at.to_s}") %>
            </label> 
        </div>
      </div>
    </div>
    <%# f.select :status, Post.all.map{ |c| [c.id, c.comment] } %>
    <div class="row">
      <div class="col-xs-10">
        <div class="demo-content"> 
          <tr>
            <td width="700", text-align="center"><%= "#{$post_para_china[9]}" %><%= simple_format(@post.url) %></td>
            <br>
            <td width="700", text-align="center"><%= "#{$post_para_china[7]}: " %> <b><%= simple_format(@post.comment) %></b></td>
          </tr>
        </div>
      </div>
    </div>

<p><%= link_to 'Back to index', :controller => 'groups', :action => 'index' %></p>

