
<table border="1", width="600">
  <tr>
    <td width="150"> comment </td>
   	<td width="150"> desciption </td>
	  <td width="150"> content  </td>
	  <td width="150"> require </td>
  </tr>
  <tr>
    <td width="150"> <%= @scode.comment %> </td>
    <td width="150", align="center"><%= simple_format(@scode.description) %></td>
    <td width="150"><%= simple_format(@scode.content) %></td>
    <td width="150"><%= simple_format(@scode.require) %></td>
  </tr>
</table>

<%= link_to 'Back to index', :controller => 'scodes', :action => 'index' %></p>
