<table border="1">


<%= @scode.comment %>
<tr>
<td width="150", align="center"><%= simple_format(@scode.description) %></td>
<td><%= simple_format(@scode.content) %></td>
<td><%= simple_format(@scode.require) %></td>
</tr>
</table>
<p><%# link_to 'Back to index', :controller => 'scodes', :action => 'index' %></p>
<p><%= link_to 'back to index', scodes_path %></p>